
section article{
    width: 800px;
}

.row{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.row *{
    margin: 0;
}

.row > *{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row img{
    width: 32px;
    margin: 12px;
}